@{
    ViewBag.Title = "FootballLeague - Strona główna";
}

<div class="jumbotron">
    <h1>Football League</h1>
    <p class="">Projekt zaliczeniowy - Asynchroniczne Interfejsy WWW</p>
    <p >Piotr Opiełka - Zintegrowane Systemy Zarządzania i Analizy Danych</p>


</div>