@model IEnumerable<Domain.Entities.Club>
@{
    ViewBag.Title = "ShowTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kluby</h2>


@{
    if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Dodaj", "Create", null, new {@class = "btn btn-success"})
        </p>
    }
}
@{
    if (Model.Count() != 0)
    {
        <table class="table table-striped ">
            <tr>
                <th>
                    Nazwa
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <!---@Html.ActionLink("Edit", "Edit", new {id = item.ClubId}) |-->
                        @Html.ActionLink("Szczegóły", "Details", new {id = item.ClubId}, new {@class = "btn btn-info"})
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("Usuń", "Delete", new {id = item.ClubId}, new {@class = "btn btn-danger"})
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <h4>Brak klubów do wyświetlenia.</h4>
    }
}
